*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background: url(background.jpg);
    background-size: cover;
    background-position: center;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10%;
}
.logo{
    width: 160px;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
nav ul li a:hover::after{
    width: 100%;
    transition: width .5s;
}
nav ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:#ff004f;
    transition: width .5s;   
}

.myself-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.myself{
    padding-left: 10%;
}
.myself h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
}

.myself p{
    font-size: 20px;
    margin-bottom: 20px;
}
.harsh{
    width: 600px;
    height: 600px;
    border-radius: 45%;
    text-align: end;
}
.image{
    text-align: end;
}
/* About section */
#about{
    padding: 80px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-container{
    padding: 10px 10%;
}
.ab-col-1{
    flex-basis: 35%;
}
.ab-col-1 img{
    width: 105%;
    height: auto;
    border-radius: 15px;
}
.ab-col-2{
    flex-basis: 60%;
}
.ab-col-2 p{
    font-size: 18px;
}
.subtitles{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: #f00606;
    transition: width .5s;
    left: 0;
    bottom: -8px;
}
.tab-links.active::after{
    width: 50%;
    transition: width .5s;
    background: #f00606;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* Services section */
#services{
    padding: 10px 10%;
    background: #080808;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 30px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: all .5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 20px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
.services-list div:hover i{
    color: #fff;
}
/* --------------portfolio section---------------- */
#portfolio{
    padding: 80px 10%;
    background: #080808;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 30px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    height: 450px;
    width: 300px;
    border-radius: 10px;
    display: block;
    transition: transform .5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height .5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
} 
.work:hover .layer{
    height: 100%;
}
.btn3 {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition:all .5s;
}
.btn3:hover{
    background: #ff004f;
    border: 2px solid #ff004f;
}
/* --------------contact section---------------- */
#contact{
    padding: 80px 10%;
    background: #080808;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color:#fff;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: all .5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    margin-top: 30px;
    padding: 10px 30px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .5s;
}
.btn.btn2:hover{
    background: #ff004f;
    border: 2px solid #ff004f;
    color: #fff;
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    padding: 15px;
    border: none;
    background: #262626;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin: 15px 0;
    border-radius: 6px;
}
form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transform: translateY(-5px);
}
.contant-left a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.contant-left a:hover::after{
    width: 20%;
    transition: width .5s; 
}
.contant-left a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:#ff004f;
    transition: width .5s;
}

.copyright{
    text-align: center;
    padding: 20px 0;
    background: #080808;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
}